* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* HomeNavbar*/

.HomeNavbar {
    width: 100%;
    height: 12vh;
    display: flex;

}

.HomeNavbar ul {
    display: flex;
    justify-content: space-evenly;
    width: 55%;
    padding: 43px;
    color: #12141D;
    list-style: none;
    align-items: center;
}

.logo {
    position: absolute;

    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 45%;
    height: 80px;
    position: relative;
}

.logo span {
    position: relative;
    line-height: 5.5rem;
    font-size: 24px;
    left: 6rem;
}

.HomeNavbar .toggle-icon {
    display: none;
}

.HomeNavbar .btn1 {
    width: 155px;
    height: 56px;
    color: white;
    background: #111E52;
    border-radius: 8px;
}






/* HomeNavbar block end */


/* HomeMain block start */
.homeMain {
    height: 83vh;
    background: linear-gradient(0deg, #E9E9F9 0.76%, rgba(225, 226, 255, 0) 100%), #FFFFFF;


}

.mainLeft {
    width: 50%;
    height: 100%;
}

.mainRight {
    width: 50%;
    height: 100%;
    border-radius: 50%;
}

.mainBtn {
    width: 40%;
}

.mainImg {
    height: 90%;
    width: 90%;

}

/* HomeMain block end */


/* HomeBenefits block start */
.homeBenefits {
    height: 75vh;

}

.benefitHeader {
    width: 75%;
}

.benefitTop {
    height: 40%;
}

.benefitBottom {
    height: 60%;
}

.benefitCard {
    height: 75%;
    width: 30%;
    background: #F9F9FF;
    border-radius: 5px;
}

.iconWrapper {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #FF1E23, #E98936);
    border-radius: 50%;
    color: #fff;
    font-size: 22px;
}

.benefitCard p {
    font-size: 15px;
    opacity: 75%;
}

/* HomeBenefits block end */


/* HomeUsage block start */
.homeUsage {
    height: 105vh;
;
}

.usageTop {
    height: 20%;
}

.topLeft {
    height: 100%;
    width: 50%;
}

.topRight {
    height: 100%;
    width: 50%;
}

.topRight p {
    opacity: 75%;
}

.usageBottom {
    height: 80%;
}

.usageVideo {
    width: 100%;
    height: 90%;
}

/* HomeUsage block end */


/* HomeProcess block start */
.homeProcess {
    height: 70vh;

    background-color: #F9F9FF;
}

.processTop {
    height: 35%;
}

.processHeader {
    width: 50%;
}

.processBottom {
    height: 65%;
}

.processCard {
    width: 30%;
    height: 90%;
    padding: 25px;
}

.processCard li {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    list-style-type: none;
    color: #fff;
    background: black;
    text-align: center;
    font-size: 23px;
    padding-top: 2px;
}

.processCard p {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.542);
}

/* HomeProcess block end */


/* HomeStatistic block start */
.homeStatistic {
    height: 95vh;

}

.homeBox {
    width: 100%;
    height: 18vh;
    background: #F9F9FF;
    border-radius: 4px;
}

.home_input {
    justify-content: space-between;
    display: flex;
}

.table tr td:nth-child(2) {
    color: #1890FF;
}




/* HomeStatistic block end */


/* HomeAd block start */
.homeAd {
    height: 20vh;

    background-color: #6F44FF;
}

.ad_text {
    width: 40%;
}

.adBtn {
    height: 70%;
}

.adBtn i {
    font-size: 18px;
}

/* HomeAd block end */


/* HomeNews block start */
.homeNews {
    height: 75vh;

}

.newsTop {
    height: 20%;
}

.newsHeader {
    width: 50%;
}

.newsBottom {
    height: 80%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 60%;
    border-radius: 10px;
}

.swiper-slide p {
    color: rgba(0, 0, 0, 0.571);
}



/* HomeNews block end */


/* HomeDownloads block start */
.homeDownloads {
    height: 90vh;

}

.downloadsFile {
    height: 80%;
    width: 22%;
}

.downloaderImg {
    width: 100%;
    height: 70%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.198);
}

.downloadesTexts {
    height: 30%;
}

.downloadesTexts p {
    font-size: 14px;
}

/* HomeDownloads block end */


/* HomeFooter block start */
.homeFooter {
    height: 40vh;

    background: #313131;
    color: white;
    list-style: none;
    display: flex;
}

.footerLogo {
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    margin: 20px;

}

.footerLogo span {
    position: relative;
    line-height: 4rem;
    font-size: 24px;
    left: 4rem;

}

.homeFooter h5 {
    text-align: center;
}

.footer li {
    margin: 20px;
}

.homeFooter ul {
    margin: 45px;
}

.homeFooter ul li {
    line-height: 3rem;
    text-align: center;
    list-style: none;
}


/* HomeFooter block end */

.modal-content {
    width: 75%;
}

.changingPassword {
    cursor: default;
    font-size: 13px;
}

.changingPassword:hover {
    text-decoration: underline;
}

@media only screen and (max-width:576px) {
    .HomeNavbar {
        position: relative;
        transition: 0.5s height ease-in-out;
    }

    .HomeNavbar.expanded {
        height: 80vh;
        overflow: hidden;
    }

    .HomeNavbar.expanded ul {
        position: absolute;
        top: 120px;
        left: 0;
        display: flex;
        width: 100%;
        flex-direction: column;
        overflow: hidden;

    }

    .HomeNavbar.expanded ul li {
        margin: 15px 0;
        font-size: 24px;
    }

    .HomeNavbar.expanded ul a {
        margin: 15px 0;
        font-size: 24px;
    }

    .logo {
        position: absolute;

        background-image: url(../images/logo.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 45%;
        height: 80px;
        position: relative;
    }

    .logo span {
        line-height: 4.5rem;
        font-size: 20px;
    }

    .HomeNavbar .logo {
        position: absolute;
        top: 0;
        height: 70px;

    }

    .HomeNavbar .toggle-icon {
        color: #000;
        display: block;
        position: absolute;
        top: 28px;
        right: 20px;
    }

    .HomeNavbar ul {
        display: none;
    }


    .mainLeft {
        width: 100%;
    }

    .homeMain {
        height: 45vh;
    }

    .mainBtn {
        width: 60%;
    }

    .homeBenefits {
        height: 105vh;
    }

    .benefitTop {
        height: 20%;
    }

    .benefitBottom {
        height: 80%;
    }

    .benefitHeader {
        width: 100%;
    }

    .benefitCard {
        height: 30%;
        width: 100%;
    }

    .homeUsage {
        height: 70vh;

    }

    .usageTop {
        height: 50%;
    }

    .topLeft {
        height: 40%;
        width: 100%;
    }

    .topRight {
        height: 60%;
        width: 100%;
    }

    .topRight p {
        opacity: 75%;
    }

    .usageBottom {
        height: 50%;
    }

    .usageVideo {
        width: 100%;
        height: 100%;
    }

    .homeAd {
        height: 16vh;
    }

    .ad_text {
        width: 100%;
    }

    .ad_text h4 {
        font-size: 16px;
    }

    .adBtn {
        height: 45%;
        height: 35%;
        width: 55%;
        font-size: 13px;
    }

    .adBtn i {
        font-size: 17px;
    }

    .home_input {
        justify-content: space-between;
        display: block;
    }

    .homeBox {
        width: 100%;
        height: 25vh;
        background: #F9F9FF;
        border-radius: 4px;
    }

    .homeDownloads {
        height: 140vh;

    }

    .downloadsFile {
        height: 45%;
        height: 38%;
        width: 70%;
    }

    .downloaderImg {
        width: 100%;
        height: 80%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.198);
    }

    .downloadesTexts {
        height: 30%;
    }

    .downloadesTexts p {
        font-size: 14px;
    }



    .homeFooter {
        height: auto;
        background: #313131;
        color: white;
        list-style: none;
        display: block;
    }

    .homeFooter h5 {
        text-align: start;
    }

    .footer {
        margin: 44px;
    }

    .footerLogo span {
        position: relative;
        line-height: 4rem;
        font-size: 24px;
        left: 4rem;

    }

    .homeFooter ul li {
        line-height: 3rem;
        text-align: start;
        list-style: none;
    }


    .homeProcess {
        height: 110vh;
    
        background-color: #F9F9FF;
    }

    .processTop {
        height: 20%;
    }

    .processHeader {
        width: 90%;
    }

    .processBottom {
        height: 80%;
    }

    .processCard {
        width: 95%;
        height: 33%;
        padding: 25px;
    }

    .processCard li {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        list-style-type: none;
        color: #fff;
        background: black;
        text-align: center;
        font-size: 23px;
        padding-top: 2px;
    }

    .processCard p {
        font-size: 13px;
        color: rgba(0, 0, 0, 0.542);
    }

    .homeNews {
        height: 85vh;
    }

    .newsHeader {
        width: 90%;
    }

    .homeDownloads {
        height: 150vh;

    }

    .modal-content {
        width: 100%;
    }
}