* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* HomeNavbar*/

.HomeNavbar {
    height: 12vh;
    display: flex;
    margin:0px auto;
}

.HomeNavbar ul {
    display: flex;
    justify-content: space-evenly;
    width: 55%;
    padding: 43px;
    color: #12141D;
    list-style: none;
    align-items: center;
    cursor:pointer;
}

.logo {
    position: absolute;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 45%;
    height: 80px;
    position: relative;
}

.logo span {
    position: relative;
    line-height: 5.5rem;
    font-size: 24px;
    left: 6rem;
}

.HomeNavbar .toggle-icon {
    display: none;
}

.HomeNavbar .btn1 {
    width: 155px;
    height: 56px;
    color: white;
    background: #111E52;
    border-radius: 8px;
}






/* HomeNavbar block end */


/* HomeMain block start */
.homeMain {
    height: 83vh;
    background: linear-gradient(0deg, #E9E9F9 0.76%, rgba(225, 226, 255, 0) 100%), #FFFFFF;
}

.homeContent {
    width:100%;
}

.mainLeft {
    width: 50%;
    height: 100%;
}

.mainRight {
    width: 50%;
    height: 100%;
    border-radius: 50%;
}

.mainBtn {
    width: 45%;
    padding: 10px;
}

.mainImg {
    height: 90%;
    width: 100%;

}

/* HomeMain block end */


/* HomeBenefits block start */
.homeBenefits {
    height: 75vh;

}

.benefitHeader {
    width: 75%;
}

.benefitTop {
    height: 40%;
}

.benefitBottom {
    height: 60%;
}

.benefitCard {
    height: 75%;
    width: 30%;
    background: #F9F9FF;
    border-radius: 5px;
}

.iconWrapper {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #FF1E23, #E98936);
    border-radius: 50%;
    color: #fff;
    font-size: 22px;
}

.benefitCard p {
    font-size: 15px;
    opacity: 75%;
}

/* HomeBenefits block end */


/* HomeUsage block start */
.homeUsage {
    height: 105vh;
    ;
}

.usageTop {
    height: 20%;
}

.topLeft {
    height: 100%;
    width: 50%;
}

.topRight {
    height: 100%;
    width: 50%;
}

.topRight p {
    opacity: 75%;
}

.usageBottom {
    height: 80%;
}

.usageVideo {
    width: 100%;
    height: 90%;
}

/* HomeUsage block end */


/* HomeProcess block start */
.homeProcess {
    height: 70vh;

    background-color: #F9F9FF;
}

.processTop {
    height: 35%;
}

.processHeader {
    width: 50%;
}

.processBottom {
    height: 65%;
}

.processCard {
    width: 30%;
    height: 90%;
    padding: 25px;
}

.processCard li {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    list-style-type: none;
    color: #fff;
    background: black;
    text-align: center;
    font-size: 23px;
    padding-top: 2px;
}

.processCard p {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.542);
}

/* HomeProcess block end */


/* HomeStatistic block start */

.homeStatistic {
    height: 80vh;
}
.statisticHeaderContent{
    width: 50%;

}
.homeBox {
    width: 100%;
    height: 18vh;
    background: #F9F9FF;
    border-radius: 4px;
}
.statisticHeaderContent li{
    color:#000;
}
table{
    width: 600px;
}
/* HomeStatistic block end */


/* HomeAd block start */
.homeAd {
    height: 20vh;
    border-radius: 3px;
    background-color: #6F44FF;
}

.ad_text {
    width: 40%;
}

.adBtn {
    height: 70%;
}

.adBtn i {
    font-size: 18px;
}

/* HomeAd block end */


/* HomeNews block start */
.homeNews {
    height: 75vh;

}

.newsTop {
    height: 20%;
}

.newsHeader {
    width: 50%;
}

.newsBottom {
    height: 80%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
}

.swiper-slide img {
    width: 100%;
    height: 60%;
    border-radius: 10px;
}

.swiper-slide p {
    color: rgba(0, 0, 0, 0.571);
}

/* HomeNews block end */


/* HomeDownloads block start */
.homeDownloads {
    height: 90vh;
}

.downloadsFile {
    height: 80%;
    width: 22%;
}

.downloaderImg {
    width: 100%;
    height: 65%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.198);
}

.downloadesTexts {
    height: 30%;
}

.downloadesTexts p {
    font-size: 14px;
}

/* HomeDownloads block end */


/* HomeFooter block start */
.homeFooter {
    height: 40vh;
    background: #313131;
    color: white;
    list-style: none;
    display: flex;
}



.footerContent ul {
    justify-content: center;
    align-items: center;
    list-style-type: none;
    cursor: pointer;
}
.footerContent div li{
    cursor: pointer;
}

/* HomeFooter block end */

.changingPassword {
    cursor: default;
    font-size: 13px;
}

.changingPassword:hover {
    text-decoration: underline;
}
@media only screen and (max-width:992px) {
    .HomeNavbar {
        width: 100%;
        position: relative;
        transition: 0.5s all ease-in-out;
        margin-bottom: 10px;
    }

    .HomeNavbar.expanded {
        height: 80vh;
        overflow: hidden;
    }

    .HomeNavbar.expanded ul {
        position: absolute;
        top: 70px;
        left: 0;
        display: flex;
        width: 100%;
        flex-direction: column;
        overflow: hidden;
    }

    .HomeNavbar.expanded ul li {
        margin: 15px 0;
        font-size: 23px;
        color: rgb(0, 0, 0);
    }

    .HomeNavbar.expanded ul a {
        margin: 15px 0;
        font-size: 24px;
    }

    .logo {
        position: absolute;
        background-image: url(../images/logo.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 45%;
        height: 70px;
        position: relative;
        margin-top: 5px;
    }

    .logo span {
        font-size: 20px;
        margin-left: -20px;
    }

    .HomeNavbar .logo {
        position: absolute;
        top: 0;
        height: 70px;
    }

    .HomeNavbar .toggle-icon {
        color: #000;
        display: block;
        position: absolute;
        top: 28px;
        right: 20px;
    }

    .HomeNavbar ul {
        display: none;
    }


    .homeMain {
        height: 70vh;
    }

    .mainLeft {
        width: 100%;
    }


    .mainBtn {
        width: 60%;
    }

    .homeBenefits {
        height: 150vh;
        padding:3rem 0px;
    }

    .benefitTop {
        height: 20%;
    }

    .benefitBottom {
        height: 80%;
    }

    .benefitHeader {
        width: 100%;
    }

    .benefitCard {
        height: 30%;
        width: 70%;
        margin: 0px auto;
    }

    .homeUsage {
        height: 100vh;
        padding: 1rem 0px;
    }

    .usageTop {
        height: 30%;
    }

    .topLeft {
        height: 40%;
        width: 100%;
    }

    .topRight {
        height: 60%;
        width: 100%;
        padding: 12px 0px;
    }

    .topRight p {
        opacity: 75%;
    }

    .usageBottom {
        height: 70%;
    }

    .usageVideo {
        width: 100%;
        height: 100%;
    }

    .homeAd {
        height: 16vh;
        border-radius: 3px;
        padding: 15px 0px;
    }

    .ad_text {
        width: 100%;
        text-align: center;
    }

    .ad_text h4 {
        font-size: 16px;
    }

    .adBtn {
        height: 45%;
        height: 50%;
        width: 35%;
        font-size: 11px;
    }

    .home_input {
        justify-content: space-between;
        display: block;
    }

    .homeStatistic {
        height: 100vh;
    }
    .statisticHeaderContent{
        width: 100%;
    }

    .homeDownloads {
        height: 200vh;
    }

    .downloadsFile {
        height: 45%;
        width: 45%;
    }

    .downloaderImg {
        width: 100%;
        height: 70%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.198);
    }

    .downloadesTexts {
        height: 30%;
    }

    .downloadesTexts p {
        font-size: 14px;
    }

    .homeProcess {
        height: 120vh;
        height: 110vh;
        background-color: #F9F9FF;
    }

    .processTop {
        height: 20%;
    }

    .processHeader {
        width: 90%;
    }

    .processBottom {
        height: 80%;
    }

    .processCard {
        width: 95%;
        height: 33%;
        padding: 25px;
    }

    .processCard li {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        list-style-type: none;
        color: #fff;
        background: black;
        text-align: center;
        font-size: 23px;
        padding-top: 2px;
    }

    .processCard p {
        font-size: 13px;
        color: rgba(0, 0, 0, 0.542);
    }

    .homeNews {
        height: 110vh;
        padding: 1rem 0px;
    }

    .newsHeader {
        width: 90%;
    }

    .swiper {
        width: 100%;
        height: 100%;
    }
    
    .swiper-slide {
        display: flex;
        flex-direction: column;
        width: 100%;
        cursor: pointer;
    }
    

    .homeFooter {
        height: 130vh;
        background: #313131;
        color: white;
        list-style: none;
    }

    .footerContent {
        width: 100%;
    }

    .footerContent div {
        width: 100%;
        justify-content: start;
        align-items: flex-start;
    }

    .footerContent p,
    .footerContent li {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.768);
    }
}

@media only screen and (max-width:768px) {
    .HomeNavbar {
        width: 100%;
        position: relative;
        transition: 0.5s all ease-in-out;
        margin-bottom: 10px;
    }

    .HomeNavbar.expanded {
        height: 80vh;
        overflow: hidden;
    }

    .HomeNavbar.expanded ul {
        position: absolute;
        top: 70px;
        left: 0;
        display: flex;
        width: 100%;
        flex-direction: column;
        overflow: hidden;
    }

    .HomeNavbar.expanded ul li {
        margin: 15px 0;
        font-size: 23px;
        color: rgb(0, 0, 0);
    }

    .HomeNavbar.expanded ul a {
        margin: 15px 0;
        font-size: 24px;
    }

    .logo {
        position: absolute;
        background-image: url(../images/logo.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 45%;
        height: 70px;
        position: relative;
        margin-top: 5px;
    }

    .logo span {
        font-size: 20px;
        margin-left: -20px;
    }

    .HomeNavbar .logo {
        position: absolute;
        top: 0;
        height: 70px;
    }

    .HomeNavbar .toggle-icon {
        color: #000;
        display: block;
        position: absolute;
        top: 28px;
        right: 20px;
    }

    .HomeNavbar ul {
        display: none;
    }


    .homeMain {
        height: 70vh;
    }

    .mainLeft {
        width: 100%;
    }


    .mainBtn {
        width: 60%;
    }

    .homeBenefits {
        height: 150vh;
        padding:3rem 0px;
    }

    .benefitTop {
        height: 20%;
    }

    .benefitBottom {
        height: 80%;
    }

    .benefitHeader {
        width: 100%;
    }

    .benefitCard {
        height: 30%;
        width: 100%;
    }

    .homeUsage {
        height: 90vh;
        padding: 1rem 0px;
    }

    .usageTop {
        height: 40%;
    }

    .topLeft {
        height: 40%;
        width: 100%;
    }

    .topRight {
        height: 60%;
        width: 100%;
        padding: 12px 0px;
    }

    .topRight p {
        opacity: 75%;
    }

    .usageBottom {
        height: 60%;
    }

    .usageVideo {
        width: 100%;
        height: 100%;
    }

    .homeAd {
        height: 16vh;
        border-radius: 3px;
        padding: 15px 0px;
    }

    .ad_text {
        width: 100%;
        text-align: center;
    }

    .ad_text h4 {
        font-size: 16px;
    }

    .adBtn {
        height: 45%;
        height: 50%;
        width: 35%;
        font-size: 11px;
    }

    .home_input {
        justify-content: space-between;
        display: block;
    }

    .homeStatistic {
        height: 100vh;
    }
    .statisticHeaderContent{
        width: 100%;
    }

    .homeDownloads {
        height: 180vh;
    }

    .downloadsFile {
        height: 45%;
        width: 50%;
    }

    .downloaderImg {
        width: 100%;
        height: 70%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.198);
    }

    .downloadesTexts {
        height: 30%;
    }

    .downloadesTexts p {
        font-size: 14px;
    }

    .homeProcess {
        height: 120vh;
        height: 110vh;
        background-color: #F9F9FF;
    }

    .processTop {
        height: 20%;
    }

    .processHeader {
        width: 90%;
    }

    .processBottom {
        height: 80%;
    }

    .processCard {
        width: 95%;
        height: 33%;
        padding: 25px;
    }

    .processCard li {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        list-style-type: none;
        color: #fff;
        background: black;
        text-align: center;
        font-size: 23px;
        padding-top: 2px;
    }

    .processCard p {
        font-size: 13px;
        color: rgba(0, 0, 0, 0.542);
    }

    .homeNews {
        height: 110vh;
        padding: 1rem 0px;
    }

    .newsHeader {
        width: 90%;
    }

    .homeFooter {
        height: 130vh;
        background: #313131;
        color: white;
        list-style: none;
    }

    .footerContent {
        width: 100%;
    }

    .footerContent div {
        width: 100%;
        justify-content: start;
        align-items: flex-start;
    }

    .footerContent p,
    .footerContent li {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.768);
    }
}

@media only screen and (max-width:576px) {
    .HomeNavbar {
        width: 100%;
        position: relative;
        transition: 0.5s all ease-in-out;
        margin-bottom: 10px;
    }

    .HomeNavbar.expanded {
        height: 80vh;
        overflow: hidden;
    }

    .HomeNavbar.expanded ul {
        position: absolute;
        top: 70px;
        left: 0;
        display: flex;
        width: 100%;
        flex-direction: column;
        overflow: hidden;
    }

    .HomeNavbar.expanded ul li {
        margin: 15px 0;
        font-size: 23px;
        color: #000;
    }

    .HomeNavbar.expanded ul a {
        margin: 15px 0;
        font-size: 24px;
    }

    .logo {
        position: absolute;
        background-image: url(../images/logo.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 45%;
        height: 70px;
        position: relative;
        margin-top: 5px;
    }

    .logo span {
        font-size: 20px;
        margin-left: -20px;
    }

    .HomeNavbar .logo {
        position: absolute;
        top: 0;
        height: 70px;
    }

    .HomeNavbar .toggle-icon {
        color: #000;
        display: block;
        position: absolute;
        top: 28px;
        right: 20px;
    }

    .HomeNavbar ul {
        display: none;
    }


    .mainLeft {
        width: 100%;
    }

    .homeMain {
        height: 50vh;
    }

    .mainBtn {
        width: 60%;
    }

    .homeBenefits {
        height: 140vh;
        padding: 1rem 0px;
    }

    .benefitTop {
        height: 20%;
    }

    .benefitBottom {
        height: 80%;
    }

    .benefitHeader {
        width: 100%;
    }

    .benefitCard {
        height: 30%;
        width: 100%;
    }

    .homeUsage {
        height: 70vh;
        padding: 0px 10px;
    }

    .usageTop {
        height: 50%;
    }

    .topLeft {
        height: 40%;
        width: 100%;
    }

    .topRight {
        height: 60%;
        width: 100%;
    }

    .topRight p {
        opacity: 75%;
    }

    .usageBottom {
        height: 50%;
    }

    .usageVideo {
        width: 100%;
        height: 100%;
    }

    .homeAd {
        height: 16vh;
        border-radius: 3px;
        padding: 10px 1px;
    }

    .ad_text {
        width: 100%;
    }

    .ad_text h4 {
        font-size: 16px;
    }

    .adBtn {
        height: 45%;
        height: 35%;
        width: 55%;
        font-size: 13px;
    }

    .adBtn i {
        font-size: 17px;
    }

    .home_input {
        justify-content: space-between;
        display: block;
    }

    .homeStatistic {
        height: 100vh;
    }
    .statisticHeaderContent{
        width: 100%;
    }

    .homeDownloads {
        height: 140vh;
    }

    .downloadsFile {
        height: 45%;
        height: 50%;
        width: 80%;
    }

    .downloaderImg {
        width: 100%;
        height: 70%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.198);
    }

    .downloadesTexts {
        height: 30%;
    }

    .downloadesTexts p {
        font-size: 14px;
    }

    .homeProcess {
        height: 120vh;

        background-color: #F9F9FF;
    }

    .processTop {
        height: 20%;
    }

    .processHeader {
        width: 90%;
    }

    .processBottom {
        height: 80%;
    }

    .processCard {
        width: 95%;
        height: 33%;
        padding: 25px;
    }

    .processCard li {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        list-style-type: none;
        color: #fff;
        background: black;
        text-align: center;
        font-size: 23px;
        padding-top: 2px;
    }

    .processCard p {
        font-size: 13px;
        color: rgba(0, 0, 0, 0.542);
    }

    .homeNews {
        height: 85vh;
    }

    .newsHeader {
        width: 90%;
    }

    .homeDownloads {
        height: 170vh;
    }

    .homeFooter {
        height: 130vh;
        background: #313131;
        color: white;
        list-style: none;
    }

    .footerContent {
        width: 100%;
    }

    .footerContent div {
        width: 100%;
        justify-content: start;
        align-items: flex-start;
    }

    .footerContent p,
    .footerContent li {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.768);
    }

}